<a class="navbar-brand" href="#">Belan Valeria</a>
<div class="navbar-nav">
    <a class="nav-item nav-link active" asp-action="Index" asp-controller="Home">Лб 1</a>
    <a class="nav-item nav-link" href="#">Каталог</a>
    <a class="nav-item nav-link" href="#">Администрирование</a>
</div>
